<div class="container register-container">
  <div class="form-container">

    <div>
      <img src="assets/250.png" alt="">
      <button class="load-btn" mat-raised-button color="primary" (click)="openImageModal()">Загрузить изображение...</button>
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eaque eveniet labore nemo quo. Aliquid, cupiditate debitis delectus eaque earum, et maxime nemo nulla optio porro quas quo unde voluptatem.
    </div>
  </div>
<!--  <form>-->
<!--    <mat-form-field>-->
<!--      <input type="text" matInput placeholder="Электронная почта"  #controlEmail>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <input type="password" matInput placeholder="Пароль"  #controlPassword>-->
<!--    </mat-form-field>-->


<!--    <div class="button">-->
<!--      <button color="primary" type="submit" mat-button>Войти</button>-->
<!--    </div>-->

<!--  </form>-->

</div>
