<mat-toolbar color="primary"  fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <button mat-icon-button class="example-icon" (click)="sideNavDrawer.toggle()"
            aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header">Admin</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
